.Rproj.user
.Rhistory
.RData*
.Ruserdata
.DS_Store
.pptx
*.Rproj
/slides/libs
/slides/*cache
/slides/*.pdf
/slides/data/
/slides/results/
/literature/
/admin/
/exam/
/scraping/
/group_projects/
/homework/
/tutorials/data/*.csv
/tutorials/data/*.sav
/tutorials/data/*.json
/tutorials/data/*.json.gz
/tutorials/data/*.zip
/tutorials/*cache
/tutorials/*.csv
/tutorials/*.json
/tutorials/test*
/homework/archive_homework/