.Rproj.user
.Rhistory
.RData*
.Ruserdata
.DS_Store
*.Rproj
/slides/libs
/slides/*cache
/slides/*.pdf
/slides/data/
/literature/
/admin/
/exam/
/scraping/
/group_projects/
/homework/*.csv
/homework/*.sav
/tutorials/data/*.csv
/tutorials/data/*.sav
/tutorials/*cache
/homework/archive_homework/